

#flex-container{
    display: flex;
}
#side{
    flex: 50%;
    background-color:#154985;
    color: white;
    font-size:xx-large;
    
} 

#main{
    flex:70%;
    background-color: white;
    padding: 45px;
}
body{
    background-color:#154985;
    font: size 20px;%;
}

.form-inline input {
    vertical-align:middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
